npx eslint@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.introduction-section {
  background-color: #fff;
  background-image: url(./Allimages/images/introduction-background.png);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0 0 80px;
  height: 604px;
  width: 100%;
  left: calc(50% - 375px / 2);
  top: 92px;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 24px;
}

.desktop-nav {
  display: none;
}

.logo {
  color: #8161cc;
  width: 100px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.wrap-main {
  overflow: hidden;
}

.headline-1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.introduction-content {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
}

.connect1 {
  color: #8161cc;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
}

.logo-images {
  padding-right: 20px;
}

.social-media {
  list-style-type: none;
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 10px;
  gap: 10px;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 592px;
  height: 667px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 64px;
}

.article-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.client {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.role {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.what {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.card-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #344563;
  /* width: 295px; */
}

.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}

.wrap-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.see-project-btn {
  color: #8161cc;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #fff;
  margin-left: 120px;
}

.see-project-btn:hover {
  background-color: #8161cc;
  color: #fff;
}

.aboutme {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 24px;
  gap: 24px;
  border-radius: 0 80px 0 0;
}

.abh {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  background-color: #fff;
  width: 327px;
  height: 101px;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.upabout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  gap: 12px;
}

.aboutme-par {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}

.button-resume {
  color: #8161cc;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: max-content;
  height: auto;
  margin-left: 180px;
  font-weight: 500;
  font-size: 17px;
  padding: 8px;
  line-height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #fff;
}

.button-resume:hover {
  background-color: #8161cc;
  color: #fff;
}

ul {
  list-style-type: none;
}

.labout {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 8px;
  width: 327px;
  height: 72px;
}

.about-languages {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.ltechnologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 20px;
  background: #f7f7f9;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.labout2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 8px;
  width: 327px;
  height: 62px;
  border-bottom: 1px solid #dfe1e6;
}

.contact-section {
  background: #6070ff url(./Allimages/images/contact-bg.svg) no-repeat 100% 100%;
  height: max-content;
  width: 100%;
  border-top-left-radius: 80px;
}

.contact-h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
}

.contact-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin-top: 12px;
  width: 327px;
  height: 102px;
  margin-bottom: 87px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  height: 48px;
  width: 327px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #172b4d;
}

.contact-form input:last-child {
  margin-bottom: 18px;
}

#comments {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  margin-bottom: 22px;
}

.contact-form button {
  align-self: flex-start;
  margin-left: 300px;
  width: max-content;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 36px;
  color: #8161cc;
  background-color: #fff;
  border-radius: 8px;
}

.contact-content-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  padding-left: 16px;
}

.form-article img {
  margin: 32px 121px 8px 121px;
}

.contact-form button:hover {
  background-color: #817dfa;
  color: #fff;
}

.contact-form button:active {
  background-color: #3832fa;
  color: #fff;
}

.contact-form button:disabled {
  background-color: #fff;
  color: #808080;
}

.contact-form textarea {
  padding-top: 15px;
}

.pimage-desktop {
  display: none;
}

.td {
  display: none;
}

/* pop up window part for mobile version */

.headpop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.closeButton-class {
  padding: 12px;
  background-color: #fff;
  background-image: url(./Allimages/icons/closeIcon.svg);
  background-repeat: no-repeat;
  float: right;
}

.popupc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  position: fixed;
  width: 596px;
  height: 766px;
  left: calc(50% - 589px / 2);
  top: 20px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 0;
}

.project-head {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project-descrip {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.desk-btn {
  display: none;
}

.mbtn {
  display: block;
}

.btn-container-class-pp {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 48px;
}

a {
  text-decoration: none;
}

.btn-seelive-pp {
  background-image: url(./Allimages/images/see-live.svg);
  background-position: 85% center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  width: 142px;
  padding: 12px 16px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  margin-left: 100px;
}

.btn-seesource-pp {
  background-image: url(./Allimages/images/see-source.png);
  background-position: 85% center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  width: 142px;
  padding: 12px 16px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

.lang-container-pp {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  /* margin-left: 50px; */
}

.languages-pp {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #ebebff;
  border-radius: 8px;
  padding: 6px;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(96, 112, 255);
  display: none;
  padding-top: 60px;
  padding-left: 20px;
  z-index: 888;
  backdrop-filter: blur(7px);
  mix-blend-mode: multiply;
}

.mobile li a {
  color: #fff;
  padding-left: 28px;
  text-decoration: none;
}

.mobile.active {
  display: block;
}

.menu {
  display: block;
  position: absolute;

  /* margin-right: 30px; */
  cursor: pointer;
  right: 1rem;
  width: 25px;
  height: 20px;
  z-index: 999;
}

.menu .bar {
  display: block;
  width: 100%;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
  border-radius: 2px;
  z-index: 999;
}

.menu.active .bar {
  background-color: #ffff;
}

.menu.active .bar:nth-child(2) {
  opacity: 0;
}

.menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#competences {
  text-align: start;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.list-titles1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 44px;
}

.list-titles {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 74px;
}

.staff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  border-top: 3px solid rgb(62, 61, 61);
  text-align: center;
  padding: 30px 240px;
}

@media screen and (min-width: 768px) {
  .tm {
    display: none;
  }

  #menuoff {
    display: none;
  }

  .see-project-btn {
    height: auto;
    line-height: 36px;
    width: max-content;
  }

  .abh {
    height: auto;
  }

  .td {
    display: block;
  }

  header {
    width: 100%;
    height: 4.5em;
    justify-content: space-between;
    align-items: baseline;
  }

  .logo {
    width: 76px;
    height: 20px;
    font-style: normal;
    margin-left: 155px;
    transition: all 1s;
  }

  .image-menu {
    display: none;
  }

  .menu {
    width: 259px;
    height: 40px;
    text-align: center;
    margin-right: 154px;
  }

  .desktop-nav {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
  }

  .nav-desktop {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: auto;
    height: 20px;
    color: #344563;
    transition: all 1s;
    margin-left: 180px;
  }

  .nav-desktop:hover {
    transform: scale(1.3);
  }

  .introduction-section {
    background: #fff url(./Allimages/images/header-bg-desktop.svg) no-repeat 100% 20%;
    width: 100%;
    height: 57.25em;
    align-items: flex-start;
    padding: 289px 260px 289px 260px;
  }

  .logo-images {
    transition: all 1s;
  }

  .logo-images:hover {
    transform: scale(1.4);
  }

  .headline-1 {
    font-size: 48px;
  }

  .introduction-content {
    font-size: 25px;
    line-height: 40px;
  }

  .role {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .year {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .card-paragraph {
    width: 450px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
  }

  .article-content {
    width: fit-content;
    height: max-content;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-top: 24px;
  }

  .article-items {
    height: auto;
    padding: 24px;
    gap: 24px;
  }

  .technologies {
    align-items: baseline;
  }

  .technologies li {
    transition: all 0.5s;
  }

  .technologies li:hover {
    transform: scale(1.2);
  }

  .grid {
    justify-items: center;
    margin: 12px;
    gap: 12px;
  }

  .contact-section {
    width: 100%;
    height: 52.875em;
    background: #6070ff url(./Allimages/images/contact-bg-form-desktop.svg) no-repeat 65% 65%;
  }

  .wrap-main {
    width: 100%;
    overflow: visible;
  }

  .aboutme {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    padding: 50px 142px;
    /* align-items: baseline; */
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
  }

  .myself {

    display: flex;
    justify-items: center;
    justify-content: center;
  }

  .staff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 30px 240px;
    gap: 50px;
    background-color: #f2efef;
  }

  #competences {
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .list-titles1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
  }

  .list-titles {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 74px;
  }

  .upabout ul {
    margin-top: 1.625em;
    margin-bottom: 2.125em;
  }

  .home-indicator {
    display: none;
  }

  .portfolio1-mobile {
    display: none;
  }

  .pimage-desktop {
    display: block;
  }

  .labout {
    width: 100%;
  }

  .labout2 {
    width: 100%;
    margin-top: 36px;
  }

  .ltechnologies {
    width: max-content;
    height: 120px;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-languages {
    flex-direction: row;
  }

  .contact-form button {
    align-self: center;
    padding: 8px;
    margin-left: 35px;
  }

  #comments {
    width: 447px;
  }

  .contact-form input {
    width: 447px;
  }

  .contact-p {
    height: auto;
    width: 569px;
    margin-bottom: 12px;
  }

  .contact-content-1 {
    padding-top: 70px;
  }

  .what {
    gap: 24px;
  }

  .client {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .card-title {
    width: 496px;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  /* pop up window for desktop version */

  .closeButton-class {
    padding: 33px;
    background-color: #fff;
    background-image: url(./Allimages/icons/closeIcon.svg);
    background-repeat: no-repeat;
    float: right;

    /* align-self: flex-end; */
  }

  .headpop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .popupc {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    padding: 3rem;


    /* justify-content: center; */
    align-items: center;
    left: 17px;
    margin: 0 89px;
  }

  .project-head {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .project-descrip {
    width: 55%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin-right: 38px;
  }

  .desk-btn {
    display: block;
  }

  .mbtn {
    display: none;
  }

  .position-div-pp {
    display: flex;
    margin-top: 40px;
    margin-left: 12px;
  }

  body.pop {
    overflow-y: hidden;
  }

  body .popupc {
    overflow-y: scroll;
  }

  .pop {
    overflow-y: scroll;
  }

  .pop-content {
    display: flex;
    flex-direction: column;
  }

  .pop-content img {
    height: 786px;
    width: 100%;
  }

  .footer {
    border-top: 4px solid black !important;
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background-color: #ebebff;
  }

  a {
    text-decoration: none;
  }

  .indicator {
    display: none !important;
  }

}